# EXERCICE 1

In [21]:
valeur = []
for i in range(2000,3201):
    if (i%7==0 and i%5!=0):
        valeur.append(i)
print(valeur)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

# EXERCICE 2

In [ ]:
facto=1
n=int(input("Saisir un entier: "))
for i in range(1,n+1):
    facto = facto*i
print("Factorielle de n est : ", facto)

# EXERCICE 3

In [4]:
dicto = {}

n=int(input("Saisir un entier: "))
for i in range(1,n+1):
    dicto[i]=i*i
print(dicto)

Saisir un entier: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# EXERCICE 4

In [15]:
a=input("Saisir la chaine :")
n=int(input("Saisir l'index :"))
lista=list(a)
if n in range(0,len(a)):
    del lista[n]
    newa="".join(lista)
    print(newa)
else:
    print("l'index est supérieur a la chaine")

Saisir la chaine :kitten
Saisir l'index :5
kitte

# EXERCICE 5

In [2]:
import numpy as np
na = np.array([[0,1],[2,3],[4,5]]);
print(na.tolist())
nptolist = na.tolist()
print(type(nptolist))

[[0, 1], [2, 3], [4, 5]]
<class 'list'>

# EXERCICE 6

In [3]:
import numpy as np
a1 = np.array([[0,1,2]]);
a2 = np.array([[2,1,0]]);

covariance = np.cov(a1,a2);
print(covariance)

[[ 1. -1.]
 [-1.  1.]]

# EXERCICE 7

In [8]:
from math import *

c = 50
h = 30

values=[]

values_of_rc=[]

number_values = int(input("Ecriver le nombre de valeurs a saisir "))

for i in range(1,number_values+1):
    i = int(input("Saisir la valeur: "))
    
    val2 =round(sqrt((2*c*i)/h))
    values.append(i)
    values_of_rc.append(val2)
    
print("les valeurs saisies sont:",values)
print("les racines carrées sont: ",values_of_rc)

Ecriver le nombre de valeurs a saisir 3
Saisir la valeur: 100
Saisir la valeur: 150
Saisir la valeur: 180
les valeurs saisies sont: [100, 150, 180]
les racines carrées sont:  [18, 22, 24]